.menu{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(10, 51, 201); */
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw; 
    /* padding-bottom: 15px; */
    /* padding-top: 15px;  */
    box-shadow: 0 1px 5px black;
    color: white;
    z-index: 100;
}

@media (max-width:1000px){
    .menu{
        padding-top: 15px;
        /* font-size: 3.4vw; */
    }
}